<<<<<<< Updated upstream
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    width: 100%;
    background-color: #117516;
    padding: 40px;
}

a:link{
    text-decoration: none;
    color: white;
    font-family: 'Roboto', sans-serif;
}

.centro{

    position: relative;
}

.logo {
    font-size: 25px;
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translate(-50%, -50%);
}

.lista{
    font-size: 15px;
    position: absolute;
    top: 50%;
    left: 28%;
    transform: translate(-50%, -50%);

}

ul {
    list-style-type: none;
    overflow: hidden;
    background-color: #117516;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: middle;
    padding: 29px;
    text-decoration: none;
  }
  
.login{
    color: white;
}

.loginin{
    font-size: 15px;
    position: absolute;
    top: 50%;
    left: 100%;
    transform: translate(-50%, -50%);
}
=======
>>>>>>> Stashed changes
